<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}WHAGO{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fontsource/inter@5.0.16/latin.css"
    />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
    <link rel="stylesheet" href="/static/css/main.css" />
    <script defer src="/static/js/app.js"></script>
  </head>
  <body class="bg-slate-100 font-inter text-slate-800">
    {% block content %}{% endblock %}
  </body>
</html>

